:root {
  --brand_blue: #007bff;
  --light_blue: #007bff24;
  --brand_gray: #777;
  --light_gray: #f4f4f4;

  --brand_whatsapp: #25d366;
  --brand_facebook: #3b5998;
  --brand_linkedin: #007bb6;
  --brand_instagram: #833ab4;
  --brand_twitter: #00aced;
}

.whatsapp {
  background-color: var(--brand_whatsapp);
}

.facebook {
  background-color: var(--brand_facebook);
}

.linkedin {
  background-color: var(--brand_linkedin);
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.twitter {
  background-color: var(--brand_twitter);
}

html,
body {
  background-color: var(--light_gray) !important;
}

.container-fluid {
  max-width: 1144px;
}

.main-all {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.full-height {
  min-height: 100vh;
}

.limit-line-1 {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.limit-line-2 {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.limit-line-3 {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.title-default {
  margin-left: 15px;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: bold;
}

.btn-empty {
  background: none;
  border: none;
}

.main-login {
  background-color: var(--light_gray);
}

.input-search {
  border: none;
}

.input-search:focus {
  outline: none;
}

.container-login {
  border-radius: 4px;
  background-color: white;
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-login h1 {
  font-size: 22px;
}

.container-login .btn-register {
  color: var(--brand_gray);
  cursor: pointer;
}

.container-login btn-register:hover {
  color: black;
}

.user-img {
  width: 50px;
}

.main-logo {
  width: 150px;
  cursor: pointer;
}

@media screen and (max-width: 350px) {
  .main-logo {
    width: 120px;
  }
}

.dropdown-user .dropdown-toggle::after {
  display: none;
}

.dropdown-user .dropdown-item {
  padding: 10px 14px;
  color: var(--brand_gray);
}

.dropdown-user .dropdown-item:hover {
  background-color: var(--brand_blue) !important;
  color: white !important;
}

.dropdown-user-item svg {
  margin-right: 10px;
}

.dropdown-user .user {
  display: flex;
  align-items: center;
}

.dropdown-user .user .user-name {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 14px;
}

.dropdown-user .dropdown-header {
  max-width: 200px;
  min-width: 180px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 320px) {
  .dropdown-user {
    width: 50px !important;
  }
}

.dropdown-user .dropdown-toggle {
  padding: 0 !important;
}

.nav-menu a {
  color: white !important;
}

.dropdown-user .dropdown-menu .dropdown-item:hover {
  background-color: var(--light_blue) !important;
  color: var(--brand_blue) !important;
}

.active {
  font-weight: bold;
  background-color: var(--light_blue) !important;
  color: var(--brand_blue) !important;
}

.dropdown-projects .item-projects {
  color: var(--brand_gray) !important;
}

.dropdown-projects .item-projects:hover {
  background-color: var(--light_blue) !important;
  color: var(--brand_blue) !important;
}

/* Not Found */
.main-not-found {
  background-color: var(--light_gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-not-found {
  padding: 40px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-not-found .warning {
  color: var(--brand_gray);
  text-align: center;
}

.container-msg-empty {
  color: var(--brand_gray);
  text-align: center;
}

.container-msg-empty img {
  width: 100px;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: var(--brand_blue);
  padding: 10px;
  color: white;
  text-align: center;
}

/* Sidebar */
.sidebar-filters {
  background-color: white;
  border-radius: 4px;
  padding: 15px 0;
}

/* Card Project */
.cursor-pointer {
  cursor: pointer;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.project-title:hover {
  color: black;
}

.project-date {
  font-size: 14px;
  color: var(--brand_gray);
}

.project-description {
  font-size: 16px;
  white-space: pre-wrap;
}

.project-tag {
  background-color: var(--brand_blue);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 6px;
}

.card-project .icon-heart {
  font-size: 16px;
}

.card-project .card-footer {
  font-size: 12px;
}

.card-project .user-name {
  max-width: 176px;
}

@media screen and (max-width: 600px) {
  .project-title {
    font-size: 16px;
  }

  .project-date {
    font-size: 12px;
  }

  .project-tag {
    font-size: 10px;
  }

  .card-project .card-footer {
    font-size: 10px;
  }

  .card-project .user-name {
    max-width: 100px;
  }

  .card-project button {
    font-size: 10px;
  }
}

.container-publish-project {
  border-radius: 4px;
}

/* Banner Default */
.container-banner {
  color: white;
  text-align: center;
}

.container-banner-text {
  position: absolute;
}

.banner-layer {
  background-color: black;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-main {
  opacity: 0.3;
}

.banner-title {
  font-weight: bold;
  font-size: 50px;
  margin: 0;
}

.banner-subtitle {
  font-size: 20px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .banner-title {
    font-size: 20px;
  }

  .banner-subtitle {
    font-size: 10px;
  }

  .modal-edit-project .modal-title {
    font-size: 16px !important;
  }
}

.modal-edit-project .modal-title {
  font-size: 20px;
  font-weight: bold;
}

/* Interest and Social */
.container-interest {
}

.container-interest h5 {
  font-size: 16px;
}

.container-interest h5 span {
  font-size: 12px;
}

.container-social {
  display: flex;
}

.container-social a {
  border-radius: 100px;
  display: block;
  margin-right: 14px;
  font-size: 14px;
  color: white;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-social a:hover {
  color: white;
}

.my-projects-tabs .nav-link {
  color: rgb(139, 139, 139);
}

.my-projects-tabs a:hover {
  background-color: var(--light_blue);
  color: var(--brand_blue);
}

.container-options a:hover {
  background-color: var(--light_blue);
  color: var(--brand_blue);
}

.btn-options {
  background-color: #ddd !important;
}

.btn-options::after {
  display: none !important;
}

/* SidebarConfig */
.sidebar-config {
  background-color: white;
  border-radius: 4px;
  padding: 15px 0;
}

.sidebar-config-menu {
  display: flex;
  flex-direction: column;
}

.sidebar-config-menu button {
  background-color: #f4f4f4;
  color: var(--brand_gray);
  text-align: left;
  border-radius: 4px;
  padding: 6px 12px;
  margin: 0 15px 10px;
}

.sidebar-config-active {
  background-color: var(--light_blue) !important;
  color: var(--brand_blue) !important;
}

/* How Work */
.how-work {
  border-radius: 4px;
}

.container-how-work h3 {
  font-weight: bold;
}

.container-how-work p {
  margin-bottom: 0;
  font-size: 16px;
  color: var(--brand_gray);
}

.container-user-doc p {
  color: var(--brand_gray);
  font-weight: bold;
}

.container-user-doc a {
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.container-user-doc a:hover {
  color: black;
}

/* Btn Back To Top */
.btn-back-to-top {
  background: var(--brand_blue);
  position: fixed;
  z-index: 999;
  right: 30px;
  bottom: 40px;
  color: white;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  box-shadow: 2px 5px 22px -4px rgba(0, 0, 0, 0.74);
}

@media screen and (max-width: 767px) {
  .btn-back-to-top {
    right: 14px;
    width: 34px;
    height: 34px;
  }
}
