:root {
  --brand_blue: #007bff;
  --brand_gray: #777;
  --light_gray: #f4f4f4;
}

html,
body {
  background-color: var(--light_gray) !important;
}

.container-fluid {
  max-width: 1144px;
}

.limit-line-1 {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.limit-line-2 {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.limit-line-3 {
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.title-default {
  margin-left: 14px;
  margin-bottom: 14px;
  font-size: 20px;
  font-weight: bold;
}

.btn-empty {
  background: none;
  border: none;
}

.container-100 {
  min-height: 100vh;
}

.main-login {
  background-color: var(--light_gray);
  min-height: 100vh;
}

.input-search {
  border: none;
}

.input-search:focus {
  outline: none;
}

.container-login {
  padding: 40px;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  max-width: 700px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-login h1 {
  font-size: 22px;
}

.container-login .btn-register {
  color: black;
  cursor: pointer;
}

.container-login btn-register:hover {
  color: black;
}

.user-img {
  width: 50px;
}

.main-logo {
  width: 150px;
  cursor: pointer;
}

.dropdown-user .dropdown-toggle::after {
  display: none;
}

.dropdown-user .dropdown-item {
  padding: 10px 14px;
  color: var(--brand_gray);
}

.dropdown-user .dropdown-item:hover {
  background-color: var(--brand_blue) !important;
  color: white !important;
}

.dropdown-user-item svg {
  margin-right: 10px;
}

.dropdown-user .user {
  display: flex;
  align-items: center;
}

.dropdown-user .user .user-name {
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
  margin-right: 10px;
  font-size: 14px;
}

.dropdown-user .dropdown-header {
  max-width: 200px;
  min-width: 180px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nav-menu a {
  color: white !important;
}

.active {
  font-weight: bold;
}

.dropdown-projects .item-projects {
  color: var(--brand_gray) !important;
}

.dropdown-projects .item-projects:hover {
  background-color: var(--brand_blue);
  color: white !important;
}

/* Not Found */
.main-not-found {
  background-color: var(--light_gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-not-found {
  padding: 40px;
  border-radius: 4px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-not-found .warning {
  color: var(--brand_gray);
  text-align: center;
}

/* Footer */
footer {
  background-color: var(--brand_blue);
  padding: 10px 0;
  color: white;
  text-align: center;
}

/* Sidebar */
.sidebar-filters {
  background-color: white;
  border-radius: 4px;
  padding: 20px 0;
}

/* Card Project */
.card-project .project-container-title {
  width: 76%;
}

.card-project .project-container-details {
  width: 20%;
}

.project-title {
  font-size: 20px;
  font-weight: bold;
}

.project-date {
  font-size: 14px;
  color: var(--brand_gray);
}

.project-description {
  font-size: 16px;
}

.project-tag {
  background-color: var(--brand_blue);
  color: white;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 10px;
}

.card-project .card-footer {
  font-size: 12px;
}

@media screen and (max-width: 992px) {
  .card-project .project-container-title {
    width: 70%;
  }

  .card-project .project-container-details {
    width: 26%;
  }
}

@media screen and (max-width: 600px) {
  .card-project .project-container-title {
    width: 60%;
  }

  .card-project .project-container-details {
    width: 36%;
  }

  .project-title {
    font-size: 16px;
  }

  .project-date {
    font-size: 10px;
  }

  .project-tag {
    font-size: 10px;
  }

  .card-project .card-footer {
    font-size: 10px;
  }

  .card-project button {
    font-size: 10px;
  }
}
